@import '../../../assets/style/vars.scss';

button {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  height: 44px;
  margin: 0 auto;
  padding: $space-large $space-maximum;
  outline: none;
  border: none;
  border-radius: 20px;
  font-size: 18px;
  font-weight: 500;
  background-color: $accent-color;
  color: #fff;

  &:hover {
    background-color: darken($accent-color, 8%);
  }

  mat-icon {
    font-size: 22px;
    margin-bottom: -2px;
    margin-left: $space-small;
  }
}

.usuarios {
  background-color: red;
}
